*, *::after, *::before {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
/* background: rgb(24,16,16);*/
 background: linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
/*background: linear-gradient(343deg, rgba(24,16,16,1) 1%, rgba(201,195,217,0.15029761904761907) 57%, rgba(2,0,36,1) 100%);*/
/*  display: flex;*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
/*   background-image: url("https://media.giphy.com/media/PzYUZGyzTlVpC/giphy.gif");*/
  /* background-image: url("https://media.giphy.com/media/xUA7aW1ddSxtVT5zzi/giphy.gif");*/
   
 /* background-color: rgba(255, 255, 255, .8);*/
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 1.5rem;
 
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  color: white;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 45%;
 /* background-color: red;*/
  /*background-color: white;*/

}

.clock .hand.minute {
  width: 17px;
  height: 40%;
 /* background-color: black;*/
 /* background-color: white;*/
 clip-path: polygon(52% 0, 80% 71%, 55% 100%, 24% 73%);
}

.clock .hand.hour {
  width: 10px;
  height: 25%;
/*  background-color: black;*/
  /*background-color: white;*/
  clip-path: polygon(52% 0, 100% 71%, 54% 100%, 0 72%);
}

.tooltip {
  position: relative;

  display: inline-block;
  border-bottom: 2px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.digitalclockrel{
   position: relative;
   font-weight: bold;

}
.digitalclock {
    position: absolute;
    top: 38%;
    left: 19%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
